---
import { cn } from "@utils/utils";

// Styling
const whyChoose =
  "relative overflow-hidden z-[1] md:before:content-[''] md:before:w-full md:before:h-full md:before:bg-primary md:before:opacity-100 md:before:block md:before:absolute md:before:left-auto md:before:right-1/2 md:before:mr-[0.625rem] md:before:z-[-1] md:dark:before:bg-primary md:dark:before:opacity-40";
const container =
  "w-full max-w-[106.25rem] m-auto flex flex-col items-center relative z-[1] sm:flex-row sm:justify-center sm:items-stretch";
const content =
  "text-center w-full py-[clamp(3.75rem,7.82vw,6.25rem)] px-4 bg-primary dark:bg-transparent box-border flex flex-col items-center relative z-[1] sm:text-left sm:w-full sm:items-start sm:bg-transparent sm:before:content-[''] sm:before:w-full sm:before:h-full sm:before:bg-primary sm:before:opacity-1 sm:before:absolute sm:before:block sm:before:top-0 sm:before:left-0 sm:before:z-[-1] md:w-1/2 md:px-0 md:before:left-auto md:before:right-1/2 md:before:mr-[0.625rem] dark:before:content-[''] dark:before:w-full dark:before:h-full dark:before:bg-primary dark:before:z-[-1] dark:before:opacity-40 dark:before:absolute dark:before:block dark:before:top-0 dark:before:left-0 md:dark:bg-transparent md:dark:before:hidden";
const topper =
  "text-bodyTextColorWhite text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold mb-1 block";
const title =
  "mb-12 max-w-[13ch] text-bodyTextColorWhite dark:text-bodyTextColorWhite text-[clamp(1.9375rem,3.9vw,3.0625rem)] font-black leading-[1.2em] relative";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.4em] before:left-1/2 before:transform before:-translate-x-1/2";
const picture =
  "w-full max-[36.625rem] h-auto block sm:ml-auto sm:max-w-full md:w-auto md:h-4/5 md:flex md:items-end md:absolute md:bottom-[2.5rem] md:right-[2.5rem] md:z-[-1]";
const img =
  "w-full h-auto block md:w-auto md:h-full md:max-h-[47.5rem] md:object-contain";
const cardGroup =
  "w-full max-w-[36.625rem] py-[clamp(3.75rem,7.82vw,6.25rem)] pl-[clamp(1rem,4vw,2.75rem)] pr-[clamp(1rem,4vw,4rem)] box-border m-0 flex justify-center items-start flex-col gap-[clamp(2rem,0.5vw,2.5rem)] sm:w-[65%] sm:max-w-full sm:flex-none sm:flex-none md:w-1/2";
const item =
  "list-none w-full max-w-[36.625rem] box-border flex flex-col items-start gap-3";
const icon = "w-8 h-auto block";
const itemWrapper = "w-full flex flex-col items-start gap-3";
const h3 =
  "text-[clamp(1.25rem,2vw,1.5625rem)] leading-[1.2em] font-bold m-0 text-headerColor dark:text-bodyTextColorWhite";
const itemText =
  "text-base leading-[1.5em] m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
---

<section id="why-choose-1821" class={cn(whyChoose)}>
  <div class={cn(container)}>
    <div class={cn(content)}>
      <span class={cn(topper)}>Why Choose Us</span>
      <h2 class={cn(title, titleUnderline)}>Why Choose Stitch Gym</h2>
      <picture class={cn(picture)}>
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym3.png"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym3.png"
        />
        <img
          class={cn(img)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym3.png"
          alt="body builder"
          width="562"
          height="568"
        />
      </picture>
    </div>
    <ul class={cn(cardGroup)}>
      <li class={cn(item)}>
        <img
          class={cn(icon)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-house.svg"
          alt="icon"
          width="32"
          height="32"
        />
        <div class={cn(itemWrapper)}>
          <h3 class={cn(h3)}>22,000 Square Feet Modern Gym</h3>
          <p class={cn(itemText)}>
            Take advantage of our spacious gym equipped with a wide range of gym
            fitness machines so you can achieve.
          </p>
        </div>
      </li>
      <li class={cn(item)}>
        <img
          class={cn(icon)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-layer.svg"
          alt="icon"
          width="32"
          height="32"
        />
        <div class={cn(itemWrapper)}>
          <h3 class={cn(h3)}>State of The Art Equipment</h3>
          <p class={cn(itemText)}>
            Take advantage of our spacious gym equipped with a wide range of gym
            fitness machines so you can achieve.
          </p>
        </div>
      </li>
      <li class={cn(item)}>
        <img
          class={cn(icon)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-hourglass.svg"
          alt="icon"
          width="32"
          height="32"
        />
        <div class={cn(itemWrapper)}>
          <h3 class={cn(h3)}>Programs for Proper Weight Loss</h3>
          <p class={cn(itemText)}>
            Take advantage of our spacious gym equipped with a wide range of gym
            fitness machines so you can achieve.
          </p>
        </div>
      </li>
      <li class={cn(item)}>
        <img
          class={cn(icon)}
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-flower.svg"
          alt="icon"
          width="32"
          height="32"
        />
        <div class={cn(itemWrapper)}>
          <h3 class={cn(h3)}>Free Fitness Training for New</h3>
          <p class={cn(itemText)}>
            Take advantage of our spacious gym equipped with a wide range of gym
            fitness machines so you can achieve.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
