---
import { cn } from "@utils/utils";

// Styling
const section = "py-[35px] overflow-visible";
const container =
  "px-[15px] m-auto max-w-[380px] relative md:max-w-[1100px] md:px-[36px] md:max-w-[1300px] md:z-[100]";
const img =
  "mb-[20px] w-full md:inline-block md:mr-70px md:w-[500px] md:h-[350px] md:transform ";
const left = "md:inline-block w-[600px]";
const leftTextGroup = "mb-[40px]";
const h2 =
  "block font-bold mb-[25px] md:mt-[90px] md:text-[2.5em] text-headerColor dark:text-bodyTextColorWhite";
const span = "font-bold text-primary";
const p =
  "text-lg leading-[1.7em] text-bodyTextColor dark:text-bodyTextColorWhite";
const listGroup =
  "flex [-webkit-box-orient:horizontal] [-webkit-box-direction:normal] flex-row flex-wrap [-webkit-box-pack:justify] justify-between md:w-[700px] md:before:content-[url(https://d33wubrfki0l68.cloudfront.net/a33c56222bd3cb59a950207d8d0cad6c6942fe08/4d66d/images/blob.svg)] md:before:absolute md:before:z-[-1] md:before:bottom-[500px] md:before:right-[-600px] md:before:opacity-10 md:before:h-[200px]";
const listItem = "mb-[50px] pl-[42px] md:w-1/2";
const listItemContent = "block";
const liH3 =
  "mb-[10px] text-xl font-bold relative flex relative items-center [-webkit-box-align:center] text-headerColor dark:text-bodyTextColorWhite before:content-[url(https://d33wubrfki0l68.cloudfront.net/568adbb913cf2cbcc902fa785d82c5f5523ed2b4/330b7/images/check.svg)] before:absolute before:left-[-40px] before:h-[30px]";
const liP =
  "leading-[1.7em] text-xl text-bodyTextColor dark:text-bodyTextColorWhite";
---

<section id="pricing" class={cn(section)}>
  <div class={cn(container)}>
    <img
      class={cn(img)}
      src="https://d33wubrfki0l68.cloudfront.net/1a6a7635d723bd43ad01eb8e14ca555ade9200d9/e643b/images/savings.svg"
      alt="drawing of a man next to a large piggy bank"
      width="300px"
    />
    <div class={cn(left)}>
      <div class={cn(leftTextGroup)}>
        <h2 class={cn(h2)}>
          <span class={cn(span)}>$0</span> Down, <span class={cn(span)}
            >$150</span
          > Per Month, <br />
          12 Month Minimum Contract
        </h2>
        <p class={cn(p)}>
          $0 down for a standard 5 page small business website. If you need more
          than that then we have to do custom pricing based on the scope of
          work, number of additional pages, and time involved. <br /><br />
          You own your domain, content, listing, and profiles. Cancel anytime with
          no fees or hassle.
        </p>
      </div>
      <div class={cn(listGroup)}>
        <div class={cn(listItem)}>
          <!--SVG-->
          <div class={cn(listItemContent)}>
            <h3 class={cn(liH3)}>Hosting Fees Included</h3>
            <p class={cn(liP)}>
              Hosting fees are built right into the monthly payment.
            </p>
          </div>
        </div>
        <div class={cn(listItem)}>
          <!--SVG-->
          <div class={cn(listItemContent)}>
            <h3 class={cn(liH3)}>Unlimited Edits</h3>
            <p class={cn(liP)}>
              Change anything you want at anytime and it will be done that day.
            </p>
          </div>
        </div>
        <div class={cn(listItem)}>
          <!--SVG-->
          <div class={cn(listItemContent)}>
            <h3 class={cn(liH3)}>24/7 Customer Service</h3>
            <p class={cn(liP)}>
              Call direct anytime day or night, no phone trees or automated
              responses.
            </p>
          </div>
        </div>
        <div class={cn(listItem)}>
          <!--SVG-->
          <div class={cn(listItemContent)}>
            <h3 class={cn(liH3)}>Web Design & Development</h3>
            <p class={cn(liP)}>
              Includes over 40 hours of design, development, and testing.
            </p>
          </div>
        </div>
        <div class={cn(listItem)}>
          <!--SVG-->
          <div class={cn(listItemContent)}>
            <h3 class={cn(liH3)}>100 Google Page Speed Score</h3>
            <p class={cn(liP)}>
              We can achieve a perfect 100 on Google Page Speed scores and boost
              your search ranking.
            </p>
          </div>
        </div>
        <div class={cn(listItem)}>
          <!--SVG-->
          <div class={cn(listItemContent)}>
            <h3 class={cn(liH3)}>Google Analytics</h3>
            <p class={cn(liP)}>
              We install Analytics for free to monitor traffic and where it
              comes from.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
