---
import { cn } from "@utils/utils";

// Styles
const features = "py-[clamp(3.75rem,7.82vw,6.25rem)] px-4 overflow-hidden";
const container =
  "w-full max-w-[34.375rem] m-auto flex flex-col items-center gap-[clamp(3rem,6vw,4rem)] relative md:max-w-[80rem] md:flex-row md:justify-between md:items-stretch md:relative";
const picture =
  "w-full max-w-[40.625rem] min-h-[22.625rem] rounded-3xl overflow-hidden block relative z-1 md:h-auto md:w-[55%] dark:bg-dark";
const img = "w-full h-full block absolute top-0 left-0 object-cover";
const content =
  "text-left w-full max-w-[33.875rem] flex flex-col items-start md:w-1/2 md:py=[2.5rem] md:px-0";
const topper =
  "text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold text-primary mb-1 block";
const title =
  "text-[clamp(1.9375rem,3.9vw,3.0625rem)] font-black leading-[1.2em] max-w-[43.75rem] mb-8 text-headerColor dark:text-bodyTextColorWhite relative";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.4em] before:left-1/2 before:transform before:-translate-x-1/2";
const text =
  "text-base leading-[1.5em] w-full max-w-[40.625rem] mb-4 [&:last-of-type]:mb-8 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
const cardGroup =
  "w-full max-w-[39.375rem] mb-8 p-0 flex items-start flex-col gap-6";
const li =
  "list-none m-0 p-0 flex items-start justify-start gap-[clamp(1rem,2.5vw,1.25rem)] dark:text-bodyTextColorWhite";
const liPicture =
  "w-[5rem] h-[5rem] m-0 rounded-full bg-white overflow-hidden flex justify-center items-center flex-none relative z-[1] before:content-[''] before:w-full before:h-full before:bg-primary before:opacity-10 before:absolute before:block before:top-0 before:left-0 before:z-[-1]";
const liIcon = "w-[2rem] h-auto block";
const flex = "";
const h3 =
  "text-xl leading-[1.2em] font-bold text-left mb-3 text-headerColor dark:text-bodyTextColorWhite";
const liText =
  "text-base leading-[1.5em] text-left m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
const button =
  "text-base leading-[clamp(2.875rem,5.5vw,3.5rem)] no-underline font-bold text-center m-0 text-white min-w-[9.375rem]  py-0 px-[2rem] bg-primary rounded inline-block relative z-[1] box-border";
const buttonBefore =
  "before:content-[''] before:absolute before:h-full before:w-0 before:bg-black before:opacity-100 before:top-0 before:left-0 before:z-[-1] before:rounded before:transform before:transition-all before:duration-300 before:hover:w-full";
const reverseFeatures = "bg-[#f7f7f7]";
const reversePicture = "md:order-2";
---

<!-- ============================================ --><!--                 Side By Side                 --><!-- ============================================ -->
<section id="RPsbs-1445" class={cn(features)}>
  <div class={cn(container)}>
    <picture class={cn(picture)}>
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg"
      />
      <img
        class={cn(img)}
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg"
        alt="volunteers"
        width="650"
        height="600"
        aria-hidden="true"
      />
    </picture>
    <div class={cn(content)}>
      <span class={cn(topper)}>Giving Back</span>
      <h2 class={cn(title, titleUnderline)}>How To Donate To Us</h2>
      <p class={cn(text)}>
        Our impact is about more than moving money to where it’s needed most
        it’s also about helping nonprofits access information and ideas that
        will help them listen, learn, and grow. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quas laborum hic consequuntur porro
        repudiandae officiis, necessitatibus vero natus nihil suscipit.
      </p>
      <ul class={cn(cardGroup)}>
        <li class={cn(li)}>
          <picture class={cn(liPicture)}>
            <img
              class={cn(liIcon)}
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class={cn(h3)}>Become a Volunteer</h3>
            <p class={cn(liText)}>
              It’s no secret that one person alone cannot overcome the greatest
              humanitarian crises. It truly takes all of us.
            </p>
          </div>
        </li>
        <li class={cn(li)}>
          <picture class={cn(liPicture)}>
            <img
              class={cn(liIcon)}
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class={cn(h3)}>Quick Fundraise</h3>
            <p class={cn(liText)}>
              It’s no secret that one person alone cannot overcome the greatest
              humanitarian crises. It truly takes all of us.
            </p>
          </div>
        </li>
        <li class={cn(li)}>
          <picture class={cn(liPicture)}>
            <img
              class={cn(liIcon)}
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class={cn(h3)}>Start Donating</h3>
            <p class={cn(liText)}>
              It’s no secret that one person alone cannot overcome the greatest
              humanitarian crises. It truly takes all of us.
            </p>
          </div>
        </li>
      </ul>
      <a href="" class={cn(button, buttonBefore)}>Donate Now</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section
  id="RPsbsr-1445"
  class={cn(features, reverseFeatures, "dark:bg-[rgba(0,0,0,0.2)]")}
>
  <div class={cn(container)}>
    <picture class={cn(picture, reversePicture)}>
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg"
      />
      <img
        class={cn(img)}
        class=""
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg"
        alt="volunteers"
        width="650"
        height="600"
        aria-hidden="true"
      />
    </picture>
    <div class={cn(content)}>
      <span class={cn(topper)}>Giving Back</span>
      <h2 class={cn(title, titleUnderline)}>How To Donate Us</h2>
      <p class={cn(text)}>
        Our impact is about more than moving money to where it’s needed most
        it’s also about helping nonprofits access information and ideas that
        will help them listen, learn, and grow. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quas laborum hic consequuntur porro
        repudiandae officiis, necessitatibus vero natus nihil suscipit.
      </p>
      <p class={cn(text)}>
        Our impact is about more than moving money to where it’s needed most
        it’s also about helping nonprofits access information and ideas that
        will help them listen, learn, and grow. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quas laborum hic consequuntur porro
        repudiandae officiis, necessitatibus vero natus nihil suscipit.
      </p>
      <a href="" class={cn(button, buttonBefore)}>Donate Now</a>
    </div>
  </div>
</section>
