---
import { cn } from "@utils/utils";

// Styling
const section = "const block py-[35px]";
const container =
  "px-[15px] max-w-[380px] m-auto relative md:max-w-[1100px] md:px-[36px]";
const h2 =
  "text-headerColor dark:text-bodyTextColorWhite text-3xl font-black text-center w-[230px] m-auto relative flex [-webkit-box-align:center] items-center [-webkit-box-pack:center] justify-center mb-[10px] md:text-[2.5em] md:w-[350px]";
const span = "font-bold text-primary mr-1 md:mr-4";
const graphicGroup =
  "flex [-webkit-box-pack:justify] justify-between [-webkit-box-align:center] items-center w-[160px] m-auto mb-[30px] md:relative md:z-[100]";
const dash = "block w-[50px] border-b border-b-[rgba(67,183,255,.9)]";
const img = "w-[30px] mb-0";
const exampleGroup =
  "mt-[70px] flex [-webkit-box-pack:justify] justify-between";
const example =
  "mb-[70px] relative py-[50px] px-[25px] bg-white dark:bg-medium rounded shadow-2xl border-b-4 border-b-primary md:w-[30%] md:mb-[70px] md:h-auto";
const exampleImg = "w-full mb-[30px]";
const h3 =
  "mb-0 text-headerColor dark:text-bodyTextColorWhite block text-xl font-bold";
const h4 = "block font-normal text-[#999]  opacity-80 mb-[15px]";
const p =
  "leading-[1.7em] text-xl text-bodyTextColor dark:text-bodyTextColorWhite mb-[20px] md:h-[175px]";
const button =
  "text-white bg-primary rounded h-auto font-bold no-underline inline-block whitespace-nowrap my-[10px] py-[15px] px-[30px] text-center text-xs w-auto transform transition-all duration-300 box-border";
const buttonBefore =
  "before:content-[''] before:absolute before:block before:h-full before:rounded before:w-0 before:bg-headerColor before:opacity-100 before:top-0 before:left-0 before:z-[-1] before:transform before:transition-all before:duration-300 before:hover:w-full";
---

<section id="portfolio" class={cn(section)}>
  <div id="portfolio2" class={cn(container)}>
    <h2 class={cn(h2)}><span class={cn(span)}>OUR </span> PORTFOLIO</h2>
    <div aria-hidden="true" class={cn(graphicGroup)}>
      <div class={cn(dash)}></div>
      <img
        class={cn(img)}
        src="https://d33wubrfki0l68.cloudfront.net/e9d9895c8751f62725f1b49e32d0f3f62682d195/c6364/images/portfolio.svg"
        alt=""
      />
      <div class={cn(dash)}></div>
    </div>
    <div class={cn(exampleGroup)}>
      <div class={cn(example)}>
        <img
          class={cn(exampleImg)}
          srcset="https://d33wubrfki0l68.cloudfront.net/fb9789a1ae59380d00ff66bcd3034140a5057c85/19128/images/valley-low-mockup-replace-400w.png 480w"
          sizes="(max-width: 600px) 480px, 800px"
          src="https://d33wubrfki0l68.cloudfront.net/bd4c19c992b4ea21e2965e71d20af170675aa40f/eac9b/images/valley-low-mockup.png"
          width="300px"
          alt="sew strong website mock up"
        />
        <h3 class={cn(h3)}>Valley Construction</h3>
        <h4 class={cn(h4)}>Seattle, WA</h4>
        <p class={cn(p)}>
          Valley Construction Supply is the largest privately held construction
          supply company in Seattle, WA for over 35 years.
        </p>
        <button
          class={cn(button, buttonBefore)}
          onclick="location.href=`https://www.valleyconstructionsupply.com/`"
          type="button"
        >
          VISIT VALLEY
        </button>
      </div>
      <div class={cn(example)}>
        <img
          class={cn(exampleImg)}
          src="https://d33wubrfki0l68.cloudfront.net/0dcb8498e3e60a50f1eb18f88905f1cc2a4785d2/34afc/images/hillbilly-small-replace.png"
          width="300px"
          alt="hillbilly gyros website mock up"
        />
        <h3 class={cn(h3)}>AB's Hillbilly Gyros</h3>
        <h4 class={cn(h4)}>Oak Harbor, WA</h4>
        <p class={cn(p)}>
          AB's Hillbilly Gyros is a local fusion gyros restaurant that opened in
          2018, we made their first website.
        </p>
        <button
          class={cn(button, buttonBefore)}
          onclick="location.href=`https://www.abshillbillygyros.com/`"
          type="button"
        >
          VISIT HILLBILLY GYROS
        </button>
      </div>
      <div class={cn(example)}>
        <img
          class={cn(exampleImg)}
          srcset="https://d33wubrfki0l68.cloudfront.net/f8d046417b3db27eec28f5ea1333b232802e0b61/cd1bd/images/victoria-mockup-mobile-400w.png 480w"
          sizes="(max-width: 600px) 480px, 800px"
          src="https://d33wubrfki0l68.cloudfront.net/636ec46b7255fb9a29e7b9f8ddd22538a851c6b6/97861/images/victoria-mockup.png"
          width="300px"
          alt="sew strong website mock up"
        />
        <h3 class={cn(h3)}>Dr. Victoria Chan</h3>
        <h4 class={cn(h4)}>Foster City, CA</h4>
        <p class={cn(p)}>
          Dr. Victoria Chan is a Naturopathic Doctor based in California who
          offers a holsitic approach to mental health.
        </p>
        <button
          class={cn(button, buttonBefore)}
          onclick="location.href=`https://www.drvictoriachan.com/`"
          type="button"
        >
          VISIT DR VICTORIA
        </button>
      </div>
    </div>
  </div>
</section>
