---
import { cn } from "@utils/utils";

// Styling
const pricing = "py-[clamp(3.75rem,7.82vw,6.25rem)] px-4 bg-[#f7f8f8] dark:bg-[rgba(0,0,0,0.2)] relative";
const container =
  "w-full max-width-[80em] m-auto flex flex-col items-center gap-[clamp(3rem,6vw,4rem)] relative";
const content = "text-center w-full flex flex-col items-center relative z-10";
const topper =
  "text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold text-primary mb-1 block";
const title =
  "text-[clamp(1.9375rem,3.9vw,3.0625rem)] font-black leading-[1.2em] max-w-[43.75rem] mb-8 text-headerColor dark:text-bodyTextColorWhite relative";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.4em] before:left-1/2 before:transform before:-translate-x-1/2";
const text = "text-base leading-[1.5em] w-full max-w-[40.625rem] m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80";
const cardGroup = "w-full m-0 p-0 flex flex-col items-center gap-[clamp(1rem,1.8vw,1.25rem)] relative z-10 sm:flex-row sm:justify-center sm:items-stretch";
const item = "text-left list-none w-full max-w-[31.25rem] m-0 py-[clamp(1.25rem,3vw,2.5rem)] px-[clamp(1rem,3vw,2rem)] bg-white dark:bg-[rgba(0,0,0,0.4)] flex flex-col items-stretch relative";
const packageStyle = "text-[clamp(0.8125rem,1.4vw,1rem)] leading-[1.2em] uppercase font-bold mb-2 text-[#767676] dark:text-bodyTextColorWhite block";
const price = "text-[clamp(1.9375rem,3.9vw,3.0625rem)] leading-[1.2em] font-black m-0 text-headerColor dark:text-bodyTextColorWhite";
const itemP = "text-4 leading-[1.5em] font-normal mb-[clamp(1rem,2vw,1.5rem)] text-bodyTextColor dark:text-bodyTextColorWhite";
const button = "text-base leading-[clamp(2.875em,5.5vw,3.5em)] no-underline font-bold text-center m-0 text-bodyTextColorWhite min-w-[9.375rem] px-6 bg-primary rounded inline-block relative z-[1] box-border dark:bg-bodyTextColorWhite dark:text-headerColor dark:transform dark:transition-colors dark:duration-300 dark:hover:text-white";
const buttonBefore = "before:content-[''] before:absolute before:h-full before:w-0 before:bg-black dark:before:bg-primary before:opacity-100 before:top-0 before:left-0 before:z-[-1] before:rounded before:transform before:transition-all before:duration-300 before:hover:w-full";
const priceButton = "mt-auto w-full rounded-none before:rounded-none";
const ul = "mt-[1.5rem] pt-[1.5rem] flex flex-col items-start gap-3 relative before:content-[''] before:w-full before:h-[1px] before:[background:linear-gradient(90deg,rgba(232,232,232,0.2)0%,#e8e8e8_53.78%,rgba(232,232,232,0.2)100%)] before:opacity-100 before:absolute before:block before:top-0 before:left-0";
const li = "text-[clamp(0.875rem,1.5vw,1rem)] list-none leading-[1.2em] w-full m-0 p-0 text-bodyTextColor dark:text-bodyTextColorWhite flex justify-between items-start gap-4";
const icon = "w-[1.125rem] h-auto block dark:grayscale dark:brightness-[1000%]";
const disabledIcon = "grayscale brightness-[300%]"
const disabled = "opacity-50";
const floater = "w-[clamp(4.75rem,7vw,7.5625rem)] h-auto block absolute z-1 pointer-events-none";
const floater1 = "top-0 left-0";
const floater2 = "bottom-0 right-0";
---

<section id="pricing-1087" class={cn(pricing)}>
  <div class={cn(container)}>
    <div class={cn(content)}>
      <span class={cn(topper)}>Pricing</span>
      <h2 class={cn(title, titleUnderline)}>Simple & Transparent Pricing</h2>
      <p class={cn(text)}>
        We are one of the leading auto repair shops serving customers in Tucson.
        All mechanic services are performed by highly qualified mechanics. We
        handle all makes and models in more than 40 car brands.
      </p>
    </div>
    <ul class={cn(cardGroup)}>
      <li class={cn(item)}>
        <span class={cn(packageStyle)}>Personal</span>
        <span class={cn(price)}>$49.99</span>
        <p class={cn(itemP)}>Basic features for up to 10 services</p>
        <a href="" class={cn(button, buttonBefore, priceButton)}>Book Appointment</a>
        <ul class={cn(ul)}>
          <li class={cn(li)}>
            All available starter feature
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li)}>
            Home service 24/7
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li)}>
            Customer agent service
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li)}>
            Professional Service
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, disabled)}>
            2 dedicated mechanic
            <img
              class={cn(icon, disabledIcon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, disabled)}>
            Remote Service mechanic
            <img
              class={cn(icon, disabledIcon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
        </ul>
      </li>
      <li class={cn(item, "popular")}>
        <span class={cn(packageStyle, "popularPackageStyle")}>Professional</span>
        <span class={cn(price, "popularPrice")}>$99.99</span>
        <p class={cn(itemP, "popularItemP")}>Basic features for up to 10 services</p>
        <a href="" class={cn(button, buttonBefore, priceButton, "popularButton")}>Book Appointment</a>
        <ul class={cn(ul)}>
          <li class={cn(li, "popularLi")}>
            All available starter feature
            <img
              class={cn(icon, "popularIcon")}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, "popularLi")}>
            Home service 24/7
            <img
              class={cn(icon, "popularIcon")}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, "popularLi")}>
            Customer agent service
            <img
              class={cn(icon, "popularIcon")}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, "popularLi")}>
            Professional Service
            <img
              class={cn(icon, "popularIcon")}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, disabled, "popularLi", "popularDisabled")}>
            2 dedicated mechanic
            <img
              class={cn(icon, disabledIcon, "popularIcon")}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, disabled, "popularLi", "popularDisabled")}>
            Remote Service mechanic
            <img
              class={cn(icon, disabledIcon, "popularIcon")}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
        </ul>
      </li>
      <li class={cn(item)}>
        <span class={cn(packageStyle)}>Basic</span>
        <span class={cn(price)}>$49.99</span>
        <p class={cn(itemP)}>Basic features for up to 10 services</p>
        <a href="" class={cn(button, buttonBefore, priceButton)}>Book Appointment</a>
        <ul class={cn(ul)}>
          <li class={cn(li)}>
            All available starter feature
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li)}>
            Home service 24/7
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li)}>
            Customer agent service
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li)}>
            Professional Service
            <img
              class={cn(icon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, disabled)}>
            2 dedicated mechanic
            <img
              class={cn(icon, disabledIcon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class={cn(li, disabled)}>
            Remote Service mechanic
            <img
              class={cn(icon, disabledIcon)}
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!--Left chevron-->
  <img
    class={cn(floater, floater1)}
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/left-chevron.svg"
    alt="checkmark"
    width="121"
    height="272"
  />
  <!--Right chevron-->
  <img
    class={cn(floater, floater2)}
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/right-chevron.svg"
    alt="checkmark"
    width="121"
    height="272"
  />
</section>

<style>
    .popular {
        @apply bg-[#1a1a1a] dark:bg-[rgba(217,4,41,0.6)] before:content-['Popular'] before:uppercase before:text-[0.8125rem] before:font-bold before:leading-[1.2em] before:tracking-[0.01em] before:py-[0.5rem] before:px-5 before:bg-secondary before:text-headerColor before:opacity-100 before:absolute before:block before:top-0 before:right-0
    }
    .popularPackageStyle {
        @apply text-[#888] dark:text-white
    }
    .popularPrice, .popularItemP, .popularLi {
        @apply text-bodyTextColorWhite
    }
    .popularDisabled {
        @apply grayscale brightness-[550%]
    }
    .popularIcon {
        @apply grayscale brightness-[1000%]
    }
    .popularButton {
        @apply transform transition-colors duration-300 hover:text-primary before:bg-white dark:bg-bodyTextColorWhite dark:text-headerColor dark:transform dark:transition-colors dark:duration-300 dark:hover:text-white before:dark:bg-primary
    }
</style>
