---
import { cn } from "@utils/utils";

// Styles
const whatWeDo = "py-[clamp(3.75rem,7.82vw,6.25rem)] px-4";
const container =
  "w-full max-w-[43.75rem] m-auto flex flex-col items-center gap-[clamp(3rem,6vw,4rem)] lg:max-w-[90rem]";
const content = "text-center w-full flex flex-col items-center";
const topper =
  "text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold text-primary dark:text-secondaryLight mb-1 block";
const title =
  "max-w-[30ch] text-[clamp(1.9375rem,3.9vw,3.0625rem)] font-black leading-[1.2em] max-w-[43.75rem] mb-8 text-headerColor dark:text-bodyTextColorWhite relative";
const titleUnderline =
  "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.4em] before:left-1/2 before:transform before:-translate-x-1/2";
const text =
  "text-base leading-[1.5em] w-full max-w-[40.625rem] m-0 text-bodyTextColor dark:text-bodyTextColorWhite";
const cardGroup =
  "w-full m-0 p-0 flex justify-center items-center flex-col gap-[clamp(1rem,1.5vw,1.25rem)] sm:justify-between sm:items-stretch sm:flex-row sm:flex-wrap lg:justify-center";
const item =
  "group list-none text-left w-full m-0 p-8 bg-[#f7f7f7] dark:bg-accent dark:hover:bg-primary rounded-2xl overflow-hidden box-border relative z-[1] transform transition-colors duration-300 hover:cursor-pointer sm:w-[48.6%] lg:w-[clamp(23.84%,22.5vw,23.95%)]";
const link = "no-underline";
const icon =
  "group-hover:grayscale group-hover:brightness-[1000%] w-auto h-12 mb-6 block [&_path]:transform [&_path]:transition-colors [&_path]:duration-300 dark:grayscale dark:brightness-[1000%]";
const h3 =
  "group-hover:text-bodyTextColorWhite text-[clamp(1.25rem,2vw,1.5625rem)] leading-[1.2em] m-0 mb-4 text-headerColor dark:text-bodyTextColorWhite transform transition-colors duration-300 font-bold";
const itemText =
  "group-hover:text-bodyTextColorWhite text-base leading-[1.5em] m-0 text-bodyTextColor dark:text-bodyTextColorWhite transform transition-colors duration-300";
const image =
  "group-hover:opacity-100 w-full h-full opacity-0 absolute top-0 left-0 block z-[-1] bg-primary transform transition-opacity duration-300";
const img =
  "group-hover:transform group-hover:scale-110 absolute top-0 left-0 h-full w-full opacity-40 object-cover transform transition-transform duration-[600ms] ";
---

<section id="services-296" class={cn(whatWeDo)}>
  <div class={cn(container)}>
    <div class={cn(content)}>
      <span class={cn(topper)}>Our Services</span>
      <h2 class={cn(title, titleUnderline)}>
        We Are Committed To Delivering Top Quality Legal Services
      </h2>
      <p class={cn(text)}>
        At Stitch Law, let us help you solve problems so that you can focus on
        your mission. We support businesses through periods of expansion,
        succession.
      </p>
    </div>
    <ul class={cn(cardGroup)}>
      <li class={cn(item)}>
        <a class={cn(link)} href="">
          <img
            class={cn(icon)}
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg"
            alt="icon"
            width=""
            height=""
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
          <h3 class={cn(h3)}>99% winning guarantee</h3>
          <p class={cn(itemText)}>
            Full range of shipping disputes such as charter party disputes,
            demurrage claims, purchase agreements, trade finance, carriage and
            claims.
          </p>
        </a>
        <picture class={image} aria-hidden="true">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <img
            class={cn(img)}
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
            alt="library"
            width="413"
            height="266"
          />
        </picture>
      </li>
      <li class={cn(item)}>
        <a href="" class={cn(link)}>
          <img
            class={cn(icon)}
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg"
            alt="icon"
            width=""
            height=""
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
          <h3 class={cn(h3)}>Secure management</h3>
          <p class={cn(itemText)}>
            Full range of shipping disputes such as charter party disputes,
            demurrage claims, purchase agreements, trade finance, carriage and
            claims.
          </p>
        </a>
        <picture class={cn(image)} aria-hidden="true">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <img
            class={cn(img)}
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
            alt="library"
            width="413"
            height="266"
          />
        </picture>
      </li>
      <li class={cn(item)}>
        <a href="" class={cn(link)}>
          <img
            class={cn(icon)}
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg"
            alt="icon"
            width=""
            height=""
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
          <h3 class={cn(h3)}>Full time support</h3>
          <p class={cn(itemText)}>
            Full range of shipping disputes such as charter party disputes,
            demurrage claims, purchase agreements, trade finance, carriage and
            claims.
          </p>
        </a>
        <picture class={cn(image)} aria-hidden="true">
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <img
            class={cn(img)}
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
            alt="library"
            width="413"
            height="266"
          />
        </picture>
      </li>
      <li class={cn(item)}>
        <a class={cn(link)} href="">
          <img
            class={cn(icon)}
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg"
            alt="icon"
            width=""
            height=""
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
          <h3 class={cn(h3)}>Family Law</h3>
          <p class={cn(itemText)}>
            We’ve helped thousands of organizations transform to become relevant
            of helped thousands.
          </p>
        </a>
        <picture class={cn(image)}>
          <source
            media="(max-width: 600px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
          />
          <img
            class={cn(img)}
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg"
            alt="library"
            width="413"
            height="266"
            aria-hidden="true"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
