---
import { cn } from "@utils/utils"

// Styles
const whyChoose = "py-[clamp(3.75rem,7.82vw,6.25rem)] px-4 bg-[#F3F3F4] dark:bg-[rgba(0,0,0,0.3)] overflow-hidden relative z-1"
const container = "w-full max-w-[36.5rem] m-auto flex flex-col items-center gap-[clamp(3rem,10vw,6.25rem)] sm:max-w-[80rem] sm:gap-0"
const content = "text-left w-full flex flex-col items-start sm:pb-[6.25rem] sm:flex-row sm:justify-between"
const flex = "max-w-[38.5rem] sm:text-left sm:w-[40vm] sm:max-w-[39.375rem] sm:flex-none"
const topper = "text-[clamp(0.8125rem,1.6vw,1rem)] leading-[1.2em] uppercase tracking-widest font-bold text-primary mb-1 block"
const title = "max-w-[20ch] mb-6 text-[clamp(1.9375rem,3.9vw,3.0625rem)] font-black leading-[1.2em] text-headerColor dark:text-bodyTextColorWhite relative sm:m-0"
const titleUnderline = "before:content-[''] before:absolute before:block before:h-[0.0625em] before:w-[1.515em] before:bg-secondary before:opacity-100 before:bottom-[-0.4em] before:left-1/2 before:transform before:-translate-x-1/2"
const ul = "w-full max-w-[32.625rem] p-0 m-0 flex flex-col gap-[clamp(1.75rem,3vw,2rem)]"
const li = "list-none flex flex-row items-start gap-4"
const number = "text-xl leading-[1.2em] font-bold m-0 text-primary block"
const liText = "text-[clamp(0.875rem,1.5vw,1rem)] leading-[1.5em] m-0 text-bodyTextColor dark:text-bodyTextColorWhite dark:opacity-80"
const wrapper = "w-full flex flex-col gap-[clamp(2.5rem,6vw,4rem)] relative z-[1] before:content-[''] before:w-screen before:h-[500%] before:bg-white dark:before:bg-dark before:opacity-100 before:absolute before:block before:top-[clamp(2.5rem,10vw,8.75rem)] before:left-1/2 before:z-[-1] before:transform before:translate-x-[-50%] sm:mt-[calc(clamp(3.75rem,10vw,8.75rem)*-1)] sm:flex-row sm:items-stretch sm:justify-between"
const picture = "w-full h-[70vw] max-h-[25rem] block relative z-1 sm:w-[43vw] sm:mx-w-[39.375rem] sm:h-auto sm:min-h-[clamp(15.75rem,30vw,25.875rem)] sm:max-h-full sm:flex-none"
const img = "w-full h-full object-cover absolute top-0 left-0"
const review = "text-[clamp(1.25rem,3vw,1.5625rem)] leading-[1.2em] font-bold w-full max-w-[32.625rem] m-0 text-headerColor dark:text-bodyTextColorWhite flex flex-col items-start sm:mt-[clamp(6.25rem,20vw,14.5rem)] sm:self-end"
const quote = "fill-primary w-[clamp(3.875rem,7vw,6.25rem)] h-auto mb-[-1.75rem] opacity-40 relative -z-1"
---

<section id="why-choose-1657" class={cn(whyChoose)}>
    <div class={cn(container)}>
        <div class={cn(content)}>
            <div class={cn(flex)}>
                <span class={cn(topper)}>Why Choose Us</span>
                <h2 class={cn(title, titleUnderline)}>Grow Your Business with Our New Bold Agency</h2>
            </div>
            <ul class={cn(ul)}>
                <li class={cn(li)}>
                    <span class={cn(number)}>01</span>
                    <p class={cn(liText)}>
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
                <li class={cn(li)}>
                    <span class={cn(number)}>02</span>
                    <p class={cn(liText)}>
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
                <li class={cn(li)}>
                    <span class={cn(number)}>03</span>
                    <p class={cn(liText)}>
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
            </ul>
        </div>  
        <div class={cn(wrapper)}>
            <picture class={cn(picture)}>
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                <img class={cn(img)} loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg" alt="meeting" width="630" height="414">
            </picture>

            <p class={cn(review)}>
                <svg class={cn(quote)} preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity=".4" clip-path="url(#a)" fill=""><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g><defs><clipPath id="a-1657"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath></defs></svg>
                Professional & modern, a theme designed to help your business stand out from the rest. For marketing firms, business endeavors & business consulting.
            </p>
        </div>
    </div>
</section>